.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.color {
    color: red !important;
}

.dancing-script-regular {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

div {
  margin: auto;
  background-color: lightcoral;
  opacity: 70;
  border-radius: 10px
  
  
}
