a:link, a:visited {
  background-color: #ff9974;
  color: beige;
  position:relative;
  margin-top:5%;

  padding: 9px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;

  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
}


.backgroundcolor {
 background-color: beige;
}


.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}



.saira-regular {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.backgroundcolor2 {
background-color: #ff9974;
border-radius: 25px
}

button {
  border: none;
  padding: 8px;
  background-color: #3a3a3a;
  color: beige;
  transition: 0.3s all;
  border-radius: 15px;
  float: right;
}

body {
  background-color: beige;
  transition: 0.3s all;
}

.dark {
  background-color: #3a3a3a;
  color: beige;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.dark a:link,
.dark a:visited {
  background-color: #5072a7;
  color: beige;
}

  .dark a:hover,
  .dark a:active {
  background-color: #666; 
  }

.dark th, .dark td {
background-color:  #5072a7
}

.dark button {
  background-color: beige;
  color: #3a3a3a;
}

.dark h1
{
background-color: #5072a7;
border-radius: 15px
}

.dark h3 {
  color: beige;
}

.dark backgroundcolor2
{background-color: beige;}