.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.color {
    color: red !important;
}

.dancing-script-regular {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

div {
  margin: auto;
  background-color: lightcoral;
  opacity: 0.7;
  border-radius: 10px;
  
  
}
.school-img {
  margin-left: 400px;
  margin-top: -250px;
}
table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 6px;
}
