.lemon-regular {
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.jost-regular {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
}

p {
  color: dimgray;
  font-size: 22px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
}

.mark-oranje {
  color: coral;
  background: none;
}

.mark-blauw {
  color: cornflowerblue;
  background: none;
}
li {
  color: #323232;
  font-size: 17px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#Startpagina {
  margin: auto;
  background-color: #ff9974;
  fill-opacity: 80;
  border-radius: 20px;
  width: 450px;
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: dimgrey;
}
.Specifiek {
  width: 225px;
  padding-left: 15px;
  margin-left: 15px;
  padding-bottom: 20px;
  float: right;
  font-style: italic;
  background-color: lightgrey;
  border-radius: 12px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center
}

h1 {
  margin: auto;
  background-color: #ff9974;
  fill-opacity: 80;
  border-radius: 20px;
  width: 450px;
}

ul {
  text-align-last: left;
}

table {
  border-collapse: collapse;
  width: 75%;
  color: #343434;
}

th,
td {
  text-align: left;
  padding: 3px;
}

tr,
td {
  height: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

th {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 9600;
  font-style: normal;
  font-size: 17px;
}

table,
th,
td {
  border: 2px solid lightgrey;
  border-collapse: collapse;
}

th,
td {
  background-color: #ff9974;
  border-radius: 7px;
}

.collapsible {
  background-color: #ff9974;
  cursor: pointer;
  padding: 9px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 15px;

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
  color: beige;
}

.active,
.collapsible:hover {
  background-color: lightgrey;
}

.content {
  padding: 0 10px;
  display: none;
  overflow: hidden;
  background-color: lightgray;
  border-radius: 15px;
  font-size: 18px;
}

.collapsible::after {
  content: "\02795";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible.active::after {
  content: "\2796";
}

a:link,
a:visited {
  background-color: #ff9974;
  color: beige;

  position: relative;
  top: 30px
  margin-bottom: 30px;
  height: 75px;
  width: 200px;

  text-align: center;
  align-content: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;

  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
}

a:hover,
a:active {
  background-color: lightgray;
}

img {
  width: 175px;
  margin-top: 30px;
  position: relative;
  left: 45%;
  border-radius: 20px;
}

body {
  background-color: beige;
  transition: 0.3s all;
}
h2 {
  color: #000;
}
button {
  border: none;
  padding: 8px;
  background-color: #3a3a3a;
  color: beige;
  transition: 0.3s all;
  border-radius: 15px;
  float: right;
}
.dark {
  background-color: #3a3a3a;
}
.dark h2 {
  color: #3a3a3a;
}

.dark button {
  background-color: beige;
  color: #3a3a3a;
}
.dark a:link,
.dark a:visited {
  background-color: #5072a7;
  color: beige;
}

.dark a:hover,
.dark a:active {
  background-color: #666;
}
.dark h1 {
  margin: auto;
  background-color: #5072a7;
  color: beige;
  fill-opacity: 80;
  border-radius: 20px;
  width: 450px;
}
.dark header {
  color: beige;
}

header {
  color: dimgray;
}

.Profielpaginas {
  width: 225px;
  padding-left: 15px;
  margin-left: 15px;
  padding-bottom: 20px;
  float: left;
  font-style: italic;
  background-color: lightgrey;
  border-radius: 12px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.dark #startpagina {
  margin: auto;
  background-color: #5072a7;
  fill-opacity: 80;
  border-radius: 20px;
  width: 450px;
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: beige;
}
